.test01
{
	padding: 25px;
	width:30%;
	background-color: lightgray;
	height:200px;
}

.test02
{
	padding: 25px;
	width:30%;
	background-color: salmon;
	height:200px;
}
.test03
{
	padding: 25px;
	width:30%;
	background-color: chartreuse;
	height:200px;
}
.pic
{
	width: 200px;
	margin-top: 10px;
}
.exts
{
	background-color: aquamarine;
}