<html ng-app="Module">

<head>
	<meta charset="utf8">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
</head>

<body ng-controller="IndexController as MyCtrl">

	<div class="main" align="center">
		<div class="test01" align="center">
			<div ng-if="!picSrc">
				<input type="button" value="Дай песок!" ng-click="GetImageSrc()">
			</div>

			<div ng-if="picSrc">
				<input type="button" value="Убери песок!" ng-click="ClearImageSrc()"><br>
				<img ng-src={{picSrc}}>
			</div>
		</div>

		<div class="test02" align="center">
			<input type="text" ng-model="enteredURL" placeholder="Введите URL картинки:"><br>
			<img ng-src="{{enteredURL}}">
		</div>	
	</div>

</body>

</html>